graft docs
graft src
graft ci
graft tests
graft .devcontainer
graft scripts

include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig
include tox.ini
include .appveyor.yml
include .readthedocs.yml
include .pre-commit-config.yaml
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include .gitchangelog.rc
include .env.sample
include requirements_dev.txt
include requirements_ci.txt
include logging.conf
include Dockerfile
include Dockerfile-small-img
include *.sh

recursive-exclude docs/_build *
global-exclude *.py[cod] __pycache__/* *.so *.dylib 
